.media{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.imageoffood{
  height: 56px;
}

.incbutton{
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  width:50%;
  margin-top: 30px;
  background-color: #c080805c;
}

.reset{
  background-color: rgb(136, 123, 123);
  color:rgb(160, 151, 151);
  border: none;
}

.calcCalorie{
  display: flex;
  gap:10px;
}

.container{
  display: flex;
  align-items: center;
}